{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal" id="products">Products</h1>
      <p class="fs-5 text-muted">Quickly build an effective product tables for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
    {% for category in categories %}
        <div class="main">
            {% if forloop.counter0 == 0 %}
                <h2 id="category" style="padding: 20px">Category: {{ category.name }}</h2>
            {% else %}
                <h2 style="padding: 20px">Category: {{ category.name }}</h2>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center container">
            {% for product in products %}
                {% if product.category == category %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">{{ product.name }}</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    <img src="{{ product.productimage_set.first.image.url }}" width="150px" height="150px">
                                </p>
                                <ul class="list-unstyled mt-3 mb-4" >
                                    <li>Price: {{product.price}} $</li>
                                    <li>Sizes:
                                        {% for size_key, size_value in product.sizes.items %}
                                            {{ size_value }}
                                        {% endfor %}
                                    </li>
                                    <li>Description: {{product.description}}</li>
                                </ul>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="add-to-cart" style="background-color: rgba(0,0,0,.03); margin:0">
                                <form method="post" action="/products/addToCart"> {% csrf_token %}
                                    {% comment %}{{ add_to_cart_form.as_p }}{% endcomment %}
                                    <label for="quantity">Quantity: </label>
                                    <input type="number" id="quantity" name="quantity" step="1" min="0" required>
                                    <br> <br>
                                    Size:
                                    <select id="size" name="size" value="Size">
                                        {% for size_key, size_value in product.sizes.items %}
                                            <option value={{ size_value }}> {{ size_value }} </option>
                                        {% endfor %}
                                    </select>
                                    <br> <br>
                                    <input type="hidden" name="product_id" value={{ product.id }}>
                                    <input type="submit" value="Add to cart +" class="w-100 btn btn-lg btn-outline-primary addBtn">
                                </form>
                            </div>
                            {% else %}
                                <div class="add-to-cart" style="background-color: rgba(0,0,0,.03); margin:0">
                                    <p>Please login to add this product into your cart</p>
                                    <a class="me-3 py-2 text-decoration-none" style="background-color: #251535; color: white; padding: 3px" href="/login">Log in</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if user.is_superuser %}
{#                <div class="c" style="display: flex; align-content: center; align-items: center">#}
{#                    <button id="add-category" >Add new Product to this category +</button>#}
{#                </div>#}
{#                <div class="col">#}
                    <div class="card mb-4 rounded-3 shadow-sm d-flex align-items-center justify-content-center">
                        <button id="add-product{{category}}" onclick="addProduct()" class="addBtn"> + Add Product </button>
                    </div>
                    <div class="bg-modal" id="bg-modal1">
                        <!-- The modal -->
                        <div id="add-new-product-modal" class="modal_">
                            <!-- The modal content -->
                            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
                            <span class="close" onclick="closeModal1(this)" style="display: block;">&times;</span>
                            <div class="modal-content_">
                                <form method="post" action="/products/addProduct"> {% csrf_token %}
                                    <div>
                                        <label for="product-name">Product Name</label>
                                        <br>
                                        <input type="text" id="product-name" name="product-name" required placeholder="Enter the new Product name">
                                    </div>

                                    <div>
                                        <label for="product-price">Product Price</label>
                                        <br>
                                        <input type="number" id="product-price" name="product-price" min="0" required placeholder="Enter the price of the new product">
                                    </div>

                                    <div>
                                        <label for="product-description">Product Description</label>
                                        <br>
                                        <input type="text" id="product-description" name="product-description" placeholder="Enter a description for the new product">
                                    </div>

                                    <div>
                                        <label for="product-images">Product Images</label>
                                        <br>
                                        <input type="file" multiple id="product-images" name="product-images">
                                    </div>

                                    <div>
                                        <div>
                                            <label for="product-sizes">Product Sizes</label>
                                            <br>
                                            <input type="text" id="product-sizes1" name="product-sizes1" required placeholder="Enter a size">
                                        </div>
                                        <br>
                                        <input id="number-of-sizes" name="number-of-sizes" type="number" hidden value="1">
                                        <button onclick="createNewInput(this)">Add one more size</button>
                                    </div>

                                    <div>
                                        <label for="product-category" hidden>Product Category</label>
                                        <br>
                                        <input type="text" id="product-category" name="product-category" hidden value="{{ category }}">
                                    </div>

                                    <div>
{#                                        <input type="reset" id="reset" hidden>#}
                                        <input type="submit" value="Add Product" class="addBtn">
                                    </div>`
                                </form>
                            </div>
                        </div>
                    </div>
{#                </div>#}
            {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
    {% if  user.is_superuser %}
        <div class="container text-center">
            <button id="add-new-category-btn" class="addBtn" style="width: 70%;">Add new Category +</button>
        </div>
        <div class="bg-modal" id="bg-modal">
            <!-- The Modal -->
            <div id="add-new-category-model" class="modal_">
              <!-- Modal content -->
                <span class="close" onclick="closeModal()" style="display: block;">&times;</span>
                <div class="modal-content_ text-center d-flex align-items-center justify-content-center">
                    <form method="post" action="/products/addCategory"> {% csrf_token %}
                        <div class="d-flex flex-column form-container">
                            <div>
                                <label for="new-category-item">New Category Name: </label>
                                <input type="text" id="new-category-item" name="new-category-item">
                            </div>
                            <div>
                                <input type="submit" value="Add Category" class="addBtn">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{#    {% include 'footer.html' %}#}
{#    <script src="{%  static 'js/script.js' %}"></script>#}
{% endblock content %}